@page
@{
    ViewData["Title"] = "廢太陽光電板回收處理規劃說明";
}
<div class="container py-1" id="plan">
    <div class="row">
        <div class="col-md-6">
            <article>
                <h3 class="h4">前言</h3>
                <p>我國自89年開始裝設太陽能光電板，其後裝設量即逐步成長，經濟部能源局復於101年起推動「陽光屋頂百萬座」計畫，加速太陽能光電系統之裝設，裝設容量至107年約2.7GW。</p>
                <p>太陽能光電板生命週期為20年，每年因風災約產生0.5%之損壞量，預估112年廢棄物數量約1萬公噸、124年起每年將超過10萬公噸。</p>

                <h3 class="h4">太陽光電板組成</h3>
                <p>目前主流之矽晶類太陽能光電板主要成分含玻璃74.2%、鋁框架10.3%、電池4%等;其組成方式則由電池與玻璃間由醋酸乙烯酯聚合物（EVA）黏著，鋁框緊密封裝太陽能電池，並不會自行溶解或滲出液體造成環境污染，故其廢棄後貯存、清除階段屬一般事業廢棄物。</p>

                <h3 class="h4">處理費徵收方式及用途</h3>
                <p>現階段由經濟部能源局代徵費用及先行保管，並公告訂定「再生能源電能躉購費率及其計算公式」，納入太陽光電模組回收費用1,000元/KW，用以建立國內模組回收機制(逐年滾動式調整)。此外，另公告「再生能源發展設備設置管理辦法」， 申設或更換者應繳交模組回收費用，模組回收費用原則分10年徵收，並於每年年底繳交當年度模組回收費用。</p> 
              
        <p>108年12月18日能源局公告修正「再生能源發展設備設置管理辦法」，增訂申設或更換者應繳交模組回收費用，模組回收費用原則分10年徵收，並於每年年底繳交當年度模組回收費用。</p>
        <p>回收基金將運用於處理技術研發、輔導業者設立處理（模）廠及相關行政費用。</p>
            </article>
        </div>
        <div class="col-md-6">
            <article class="bg-mustard-100">
                <h3 class="h4">回收清除處理體系規劃</h3>
                <p>初期將採專案方式，輔導國內太陽能光電板製造輸入業者成立回收清除處理組織或協會，負責回收清除處理工作。案場所有者應至環保署「@SysConfig.Cfg.SiteName」申請帳號後，輸入案場資訊與太陽能光電板資訊，廢棄前進行排出登記。</p>
                <div class="ms-2">
                    <h4>排出時登記</h4>
                    <p>民眾或設置者如有廢棄太陽能光電板排出時，請至「@SysConfig.Cfg.SiteName」（https://pvis.epa.gov.tw/）登記廢光電板排出資訊，包含模組序號、形式及數量。</p>

                    <h4>通知回收清除</h4>
                    <p>數量累計達50片，則通知廢棄物排出者於限定時間內，自行或由專案辦公室媒合具廢棄物代碼為「D-2528裝置使用後廢棄之太陽能光電板」運送至指定暫存點或處理（模廠）業者。</p>

                    <h4>處理</h4>
                    <p>優先於國內處理，並以高值化為處理目標，倘有大量廢棄物產生，為減少廢棄物對國內環境影響，可優先考慮採境外處理（如德國、日本）。</p>
                </div>
            </article>
            <div class="p-0_5" style="color: #917223">
                註: 「@SysConfig.Cfg.SiteName」操作問題，可撥打專案辦公室專線電話（03）582-0009
            </div>
        </div>
    </div>
    <img class="img-fluid" src="~/img/plan.jpg" alt="廢太陽光電板回收處理規劃說明：排出時登記→通知回收清除→處理" asp-append-version="true" />
</div>