@page
@{
    ViewData["Title"] = "太陽光電板序號";
}

<div id="app" v-cloak>
    <environment include="Development">
        <pre>{{Rec|json}}</pre>
        <pre>{{Qry|json}}</pre>
    </environment>
    <div class="form-inline inline-box">
        <label for="PVNo" class="control-label">設備登記編號:</label>
        <input type="text" class="form-control" id="PVNo" v-model="Qry.PVNo" />
        <label for="Applicant" class="control-label">申請人:</label>
        <input type="text" class="form-control" id="Applicant" v-model="Qry.Applicant" />
        <label for="AuditResult" class="control-label ml-4">比對結果:</label>
        <select class="form-control" v-model="Qry.AuditResult" id="AuditResult">
            <option value="">顯示全部</option>
            <option value="1">僅顯示比對一致</option>
            <option value="0">僅顯示比對不一致</option>
        </select>
        <div class="m-auto"></div>
        <input type="button" value="搜尋" @@click="GetList(Qry)" class="btn btn-outline-success" />
    </div>
    <div class="table-responsive-md">
        <table class="table table-hover text-center table-bordered">
            <thead>
                <tr>
                    <th scope="col" colspan="3">設備登記資料</th>
                    <th scope="col" colspan="3">案場業者基本資料維護</th>
                    <th scope="col" rowspan="2">比對結果</th>
                </tr>
                <tr>
                    <th>設備登記編號</th>
                    <th>所有者</th>
                    <th>太陽光電板序號</th>
                    <th>設備登記編號</th>
                    <th>所有者</th>
                    <th>太陽光電板序號</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,index) in RecList.slice(pageStart, pageStart + countOfPage)">
                    <td>{{item.P_PVNo}}</td>
                    <td>{{item.P_Applicant}}</td>
                    <td>{{item.P_sno}}</td>
                    <td>{{item.U_pvno}}</td>
                    <td>{{item.U_CompanyName}}</td>
                    <td>{{item.U_sno}}</td>
                    <td><span :class="item.AuditResult == '比對一致' ? 'text-primary' : 'text-danger'">{{item.AuditResult}}</span></td>
                </tr>
            </tbody>
        </table>
    </div><!-- 查詢結果 -->
    <div class="text-right">
        <partial name="_PagerRecListPartial" />
    </div><!-- 分頁控制 -->

    <input type="button" value="查詢結果下載" @@click="GetExcel(Qry)" class="btn btn-outline-success" />
    <div class="text-left">
        <br />
        <label class="control-label">比對說明：</label>
        <br />
        <label class="control-label">以設備登記資料的設備登記編號或申請人，比對案場業者基本資料維護，比對結果不一致時，以紅色字體顯示比對結果，比對一致時，以藍色字體顯示比對結果。</label>
    </div>
</div>

@section Scripts{
    <script src="~/js/MixinPagerRecList.js"></script>
    <script src="~/js/downloadxlsx.js"></script>
    <!--使用JS-XLSX操作xlsx-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.2/xlsx.full.min.js"></script>
    <!--使用FileSaver下載資料成為檔案-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            mixins: [MixinPagerRecList],
            data: {
                RecList: [],
                Rec: {},
                Qry: {},
                FlatPickrCfg: {
                    altInput: false,
                    allowInput: true,
                    minuteIncrement: 10
                },
            },
            methods: {
                Load: function () {
                    var me = this;
                    this.$http.post({
                        ApiDesc: "資料載入",
                        url: "@Url.Content("~/api/AuditSp/Load")",
                        data: {},
                        success: function (_Result) {
                            me.RecList = _Result;
                            return;

                            if (_Result.IsSuccess === false) {
                                UiHelper.ShowErr(_Result.Msg);
                                return;
                            }
                            UiHelper.ShowMsg(_Result.Msg);
                            me.RecList = _Result.RecList;
                        }
                    });
                },
                GetList: function (Qry) {
                    var me = this;
                    this.$http.post({
                        ApiDesc: "資料查詢",
                        url: "@Url.Content("~/api/AuditSp/GetList")",
                        data: Qry,
                        success: function (_Result) {
                            me.RecList = _Result;
                        }
                    });
                },

                GetExcel: function (Qry) {
                    var me = this;
                    //檔名
                    var filename = 'download.xlsx';
                    //表名
                    var sheetname = '勾稽比對_太陽光電板序號';
                    this.$http.post({
                        ApiDesc: "資料查詢",
                        url: "@Url.Content("~/api/AuditSp/GetList")",
                        data: Qry,
                        success: function (_Result) {

                            var tmp = [['設備登記資料_設備登記編號', '設備登記資料_所有者', '設備登記資料_太陽光電板序號'
                                        , '案場業者基本資料維護_設備登記編號', '案場業者基本資料維護_所有者', '案場業者基本資料維護_太陽光電板序號'
                                        , '比對結果']]
                            for( let i = 0 ; i < _Result.length ; i++ ){

                                data = [[_Result[i].P_PVNo, _Result[i].P_Applicant, _Result[i].P_sno
                                        , _Result[i].U_pvno, _Result[i].U_CompanyName, _Result[i].U_sno
                                        , _Result[i].AuditResult]];
                                tmp = tmp.concat(data)
                            }
                            downloadxlsx(filename, sheetname, tmp);
                        }
                    });
                },
            },
            created: function () {

                this.Load();
            }
        });


    </script>
}