@page
@{
    ViewData["Title"] = "密碼變更";
}

<div class="row" id="app">
    <div class="col-md-6">
        <div class="form-group">
            <label>目前密碼</label>
            <input class="form-control" type="password" v-model="Rec.UserPwd" />
        </div>
        <div class="form-group">
            <label>新密碼</label>
            <input class="form-control" type="password" v-model="Rec.NewPwd" />
        </div>
        <div class="form-group">
            <label>確認新密碼</label>
            <input class="form-control" type="password" v-model="Rec.ConfirmPwd" />
        </div>
        <div class="text-right">
            <button type="button" class="btn btn-primary" @@click="ChangePassword(Rec)">密碼變更</button>
        </div>
        <hr />
        <partial name="_PasswordStrengthPartial" />
    </div>
</div>
@section Scripts {
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                Rec: {}
            },
            methods: {
                ChangePassword: function (Rec) {
                    var me = this;
                    this.$http.post({
                        ApiDesc: "資料載入",
                        url: "@Url.Content("~/api/UserAuth/ChangePassword")",
                        data: Rec,
                        success: function (_Result) {
                            UiHelper.ShowMsg("密碼變更已完成");
                            me.Rec = {};
                        }
                    });
                }
            }
        });
    </script>
}