<nav aria-label="Page navigation">
    <ul class="pagination float-right">
        <li class="page-item" v-bind:class="{'disabled': (currPage <= 1)}"
            @@click.prevent="setPage(1)"><a href="#" class="page-link" title="第一頁">&lt;&lt;</a></li>
        <li class="page-item" v-bind:class="{'disabled': (currPage <= 1)}"
            @@click.prevent="setPage(currPage-5)"><a href="#" class="page-link" title="上五頁">&lt;</a></li>
        <li class="page-item" v-for="n in PageRange"
            v-bind:class="{'active': (currPage === (n))}"
            @@click.prevent="setPage(n)"><a href="#" class="page-link">{{n}}</a></li>
        <li class="page-item" v-bind:class="{'disabled': (currPage >= totalPage)}"
            @@click.prevent="setPage(currPage+5)"><a href="#" class="page-link" title="下五頁">&gt;</a></li>
        <li class="page-item" v-bind:class="{'disabled': (currPage >= totalPage)}"
            @@click.prevent="setPage(totalPage)"><a href="#" class="page-link" title="最後一頁">&gt;&gt;</a></li>
        <li class="page-item disabled">
            <span class="page-link">
                共 {{RecList.length}} 筆/ {{totalPage}} 頁
            </span>
        </li>
    </ul>
</nav>