@page
@model Pvis.Web.Areas.BackEnd.Pages.Download.ManualModel
@{
    ViewData["Title"] = "操作手冊下載";
}
<div class="row">
    <div class="col">
        <ul>
            <li>
                <a target="_blank" href="~/pubFile/行程管理功能操作說明_11106.pdf">行程管理功能操作說明 11106</a>
                <ul>
                    <li style="color:red">
                        參考對象：稽核小組、案場業者、處理/貯存業者
                    </li>
                </ul>
            </li>
            <li>
                <a target="_blank" href="~/pubFile/稽核作業管理功能操作說明_11106.pdf">稽核作業管理功能操作說明 11106</a>
                <ul>
                    <li style="color:red">
                        參考對象：處理/貯存業者、稽核小組
                    </li>
                </ul>
            </li>
            <li>
                <a target="_blank" href="~/pubFile/批次上傳功能操作說明_11106.pdf">批次上傳功能操作說明 11106</a>
                <ul>
                    <li style="color:red">
                        參考對象：案場業者
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>